.header-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-top: 300px;
  }
}

.header-nav__link {
  display: block;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-decoration: none;
  color: $white;
  opacity: 0.7;

  &:hover {
    color: $cyan;
  }

  &:focus,
  &:active {
    color: $cyan;
    opacity: 0.3;
  }

  @media (max-width: $tablet) {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 17px 45px 15px 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: normal;
    color: $grey;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 24px;
      width: 8px;
      height: 12px;
      background: url("../img/arrow-icon.svg") 0 0 no-repeat;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        opacity: 0.6;
      }
    }
  }
}

.header-nav__item {
  &:not(:last-child) {
    padding-right: 15px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 30px;
    background-color: $light-grey;
  }
}

.header-nav__toggle {
  display: none;

  @media (max-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: $cyan;
    border: none;
    cursor: pointer;
  }
}

.header-nav--closed .header-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 15px;
    width: 22px;
    height: 1px;
    background-color: $black;
    box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
  }

  &:hover {
    &::before {
      background-color: $white;
      box-shadow: 0 6px 0 0 $white, 0 12px 0 0 $white;
    }
  }
}

.header-nav--opened .header-nav__toggle {
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 13px;
    width: 24px;
    height: 25px;
    background: url("../img/close-icon.svg") 0 0 no-repeat;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }
}

.header-nav--opened {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow-y: scroll;
  }
}

.header-nav--nojs {
  @media (max-width: $tablet) {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 568px;
    background-color: $white;
  }
}

@media (max-width: $tablet) {
  .header-nav--closed .header-nav__list {
    display: none;
  }

  .header-nav--nojs .header-nav__toggle {
    display: none;
  }

  .header-nav--nojs .header-nav__list {
    display: block;
  }
}
