// colors

$black: #000000;
$almost-black: #0d0d0d;
$white: #ffffff;
$very-dark-grey: #1f1f1f;
$dark-grey: #212121;
$darkest-grey: #1c1c1c;
$cyan: #0ad9c6;
$almost-white: #c9ccd4;
$grey: #48494d;
$light-grey: #f6f6f6;
$very-light-grey: #f6f7f9;
$dark: #131314;

// viewports

$mobile: 767px;
$tablet: 1023px;
